
body{font-family: 'Roboto', sans-serif;
    margin: 0%;

    background-image: url(images/donation2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 35%;
    


    

}
.class-title{
    text-align: center;
    color: white;
    margin-top: 610px;
   
   
}
.Donate-flood{
    color: white;
    text-align: center;

}
.button-Donate{
    padding: 10px 25px;
    background-color: rgb(223, 35, 67);
    margin-left: 600px;
    margin-top: 20px;
    font-size: 18px;
    align-items: center;

}

.Today{

    text-align: center;
    font-size: 30px;
    margin-top: 100px;

    
}
.taka{
    display:flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.step-two{
    text-align: center;
}
.box{
    width: 50px;
    border: 2px solid rgb(175, 23, 48);
    padding: 2px;
    margin: 5px;
    background-color: pink;
}
.amount{
    text-align: center;
    margin-top: 10px;
}
.plan{
    text-align: center;
}
.help{
    text-align: center;

}
.chart{
    width: 600px;
    height: 300px;
    box-shadow: 8px 8px 8px;
}
.main-chat{
    display:flex;
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px 25px;
    background-color: antiquewhite;
    }

#extra-header{
    text-align: center;
    margin-top: 100px;
    color: green;
}
#extra-dis {
    text-align: center;
    margin-top:10px;
    width:50%;
    margin-left: 150px;
    
}
#extra-bonus{

    display:flex;
}
.button-admission{
    padding: 10px 25px;
    background-color: rgb(223, 35, 67);
    margin-left: 300px;
    margin-top: 20px;
    font-size: 18px;
    align-items: center;


}



.update{
    
    text-align: center;
    font-size: 30px;
    margin-top: 50px;

}

#button-mail{
    padding: 10px 25px;
    background-color: rgb(109, 73, 79);
    margin-left: 600px;
    margin-top: 20px;
    font-size: 18px;
    align-items: center;


}

#button-sub{
    padding: 10px 25px;
    background-color: rgb(223, 35, 67);
    font-size: 15px;
    margin-top: 20px;
}

#mail-id{
    display: flex;
    text-align: left;
    background-color: antiquewhite;
    margin-left: 40px;
    margin-right: 40px;
    

}

footer {
  margin-top: 50px;
  text-align: center;
  padding: 2px;
  background-color:black;
  color: whitesmoke;
  display: block;
  }